big.notice {
	display: none;
}

::selection {
	background-color: #000;
	color: #fff;
}

::selection img, ::selection div {
	background: #fff;
	filter: invert(100%);
}

body {
	padding: 0;
	font-family: ProductSans;
}

div#ecs-header {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0;
	top: 0;
	font-size: 32px;
	line-height: 40px;
	margin: 0;
	background: #f0f0f0;
	border-bottom: 1px #aaa solid;
	box-shadow: 0 0 2px 2px #666;
}

div#ecs-header span {
	margin: 0 4px;
}

div#ecs-edit-btn {
	line-height: 24px;
	height: 24px;
	margin: 6px;
	float: right;
	background: #fff;
	border: 2px #ddd solid;
	border-radius: 3px;
	font-size: 16px;
	vertical-align: middle;
	padding: 0 3px;
	cursor: default;
}

div#ecs-content {
	font-family: "Nueva Std", Serif, MicrosoftYahei;
	font-size: 16px;
	margin-top: 50px;
	position: absolute;
	box-shadow: 0 0 2px 1px #888;
	padding: 5px;
	left: 10px;
}

div#ecs-content h2, div#ecs-content h3, div#ecs-content h4, div#ecs-content h1, div#ecs-content p, div#ecs-content div, div#ecs-content table, div#ecs-content form {
	margin: 2px 0;
	vertical-align: middle;
}

div#ecs-content h1 {
	font-size: 1.7em;
}

div#ecs-content h2 {
	font-size: 1.35em;
}
