/* Loads various fonts */
@font-face {
    font-family: CaviarDreams;
    src: url('fonts/CaviarDreams_r.ttf');
    font-weight: normal;
}
@font-face {
    font-family: ProductSans;
    src: url('fonts/ProductSans_r.ttf');
    font-weight: normal;
}
@font-face {
	font-family: Raleway;
	src: url('fonts/Raleway_l.ttf');
	font-weight: 100;
}
@font-face {
	font-family: Raleway;
	src: url('fonts/Raleway_b.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Raleway;
	src: url('fonts/Raleway_eb.ttf');
	font-weight: 900;
}
@font-face {
	font-family: Raleway;
	src: url('fonts/Raleway_r.ttf');
	font-weight: 400;
}

/* Global styles */
body {
	background: url("images/index_background.jpg");
	color: #fff;
	overflow: hidden;
	font-family: "Raleway";
	margin: 0;
	background-size: cover;
}

/* Navbar */
#navbar-pic {
	width: 32px;
	height: 32px;
	background: url("https://avatars3.githubusercontent.com/u/43069941?s=96&v=4");
	float: left;
}

.top-navbar {
	background: rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid #fff;
	padding: 4px 4px 12px 4px;
	cursor: default;
}

#navbar-text {
	font-size: 28px;
	line-height: 32px;
	height: 32px;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	font-family: "ProductSans";
	font-weight: bold;
}

.nav-tabs {
	list-style-type: none;
	margin: 0;
	margin-left: 4px;
	padding: 0;
}

.nav-tabs li {
	display: inline-block;
	font-size: 24px;
	height: 32px;
	line-height: 32px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 0 8px;
	font-family: CaviarDreams;
	background: transparent;
	transition: background 0.3s;
}

.nav-tabs li:hover {
	background: rgba(255, 255, 255, 0.2);
}

.nav-tabs li.nav-tabs-active {
	background: rgba(255, 255, 255, 0.3);
}

.nav-tabs a {
	font-weight: normal !important;
	width: 100%;
	display: inline-block;
}

/* Page content */
.content {
	overflow: auto;
	font-size: 16px;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
}

.content a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.content div.content-card {
	background: rgba(0, 0, 0, 0.4);
	margin: 8px;
	padding: 8px;
	border: 1px solid #fff;
	border-radius: 4px;
	min-width: 326px;
	float: left;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
	font-weight: normal;
}

.content-card h2 {
	margin: 2px;
}

.content-card p {
	margin: 2px;
}

/* Page footer */
.footer {
	text-align: center;
	font-family: "ProductSans";
	font-size: 14px;
	padding: 6px;
	border-top: 1px solid #fff;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	bottom: 0;
	width: 100%;
}
